<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
		<title>American Hospital</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>American Hospital</h1>
                <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
				<a href="{{ url_for('list') }}"><i class="fas fa-list"></i>List</a>
                <a href="{{ url_for('register_doctor') }}"><i class="fas fa-user-plus"></i>Add User</a>
				<a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
				<form method="GET" action="{{ url_for('search') }}">
					<input type="text" placeholder="Search.." name="search">
					<button type="submit" ><i class="fa fa-search"></i></button>
				  </form>
			</div>
		</nav>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>