{% extends 'layout.html' %}

{% block title %}List{% endblock %}

{% block content %}

<h2>List</h2>
<h3> <i class="far fa-address-card"></i> Doctors</h3>
{% if doctors %}{% else %} <div class="msg">{{ msg }}</div>{% endif %}
{% for doctor in doctors %}
<div>
    
    <hr>
    <table style="border-collapse:collapse">
        <tr>
            <td> Nom </td>
            <td> Prénom </td>
            <td> Email </td>
            <td> Phone </td>
            <td> Date </td>
            <td> Actived </td>
            <td> Password </td>
            <td> Role </td>
            <td> Update </td>
            <td> Delete </td>
        </tr>
        <tr>
            <td> {{ doctor.name }}</td>
            <td> {{ doctor.firstname }}</td>
            <td> {{ doctor.email }}</td>
            <td> {{ doctor.phone }}</td>
            <td> {{ doctor.date }}</td>
            <td> {% if doctor.actived == 1 %} Yes {% else %} No {% endif %}</td>
            <td> {{ doctor.password }}</td>
            <td> {{ doctor.role }}</td>
            <td><form method="" action="{{ url_for('update_doctor', id=doctor.id, name='doctor') }}">
                <button type="submit"><i class="fas fa-pen" style="color: green;"></i></button>
              </form></td>
            <td><form method="post" action="{{ url_for('delete', id=doctor.id) }}">
                <button type="submit"><i class="fas fa-trash" style="color: red;"></i></button>
              </form></td>
        </tr>
    </table>
</div>
{% endfor %}

<h3> <i class="far fa-address-card"></i> Patients</h3>
{% if patients %}{% else %} <div class="msg">{{ msg }}</div>{% endif %}
{% for patient in patients %}
<div>
 
    <hr>
    <table style="border-collapse:collapse">
        <tr>
            <td> Nom </td>
            <td> Prénom </td>
            <td> Date </td>
            <td> Description </td>
            <td> Drug </td>
            <td> File </td>
            <td> Update </td>
            <td> Delete </td>
        </tr>
        <tr>
            <td> {{ patient.name }}</td>
            <td> {{ patient.firstname }}</td>
            <td> {{ patient.date }}</td>
            <td> {{ patient.description }}</td>
            <td> {{ patient.drug }}</td>
            <td> {{ patient.file }}</td>
            
            <td><form method="" action="{{ url_for('update_patient', id=patient.id, name='patient') }}">
                <button type="submit"><i class="fas fa-pen" style="color: green;"></i></button>
              </form></td>
            <td><form method="post" action="{{ url_for('delete', id=patient.id) }}">
                <button type="submit"><i class="fas fa-trash" style="color: red;"></i></button>
              </form></td>
        </tr>
    </table>
</div>
{% endfor %}
{% endblock %}