{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Update an User</h2>
<div class="register" style="padding: inherit; margin: inherit;">
<h1>Update</h1>

<form action="" method="post" autocomplete="off">
	<label for="name">
		<i class="fas fa-user-md"></i>
	</label>
	<input type="text" name="name" value="{{ doctor.name }}" id="name" required>
	<label for="firstname">
		<i class="fas fa-user"></i>
	</label>
	<input type="text" name="firstname" value="{{ doctor.firstname }}" id="firstname" required>
	<label for="email">
		<i class="fas fa-envelope"></i>
	</label>
	<input type="text" name="email" value="{{ doctor.email }}" id="email" required>
	<label for="phone">
		<i class="fas fa-phone-square"></i>
	</label>
	<input type="text" id="phone" name="phone" value="{{ doctor.phone }}" pattern="[0-9]{10}" required>
	<label for="date">
		<i class="fas fa-calendar"></i>
	</label>
	<input type="date" id="date" name="date" value="{{ doctor.date }}" required>
	<label for="username">
		<i class="fas fa-user"></i>
	</label>
	<input type="text" name="username" value="{{ doctor.username }}" id="username" required>
	<label for="password">
		<i class="fas fa-lock"></i>
	</label>
	<input type="password" name="password" value="{{ doctor.password }}" id="password" required>
	<!-- /** INSERT INTO `user` (`name`, `firstname`, `email`, `phone`, `date`, `status`, `login`, `password`, `role`) **/ -->
	<div class="msg">{{ msg }}</div>
	<input type="submit" value="Save">
</form>
</div>
{% endblock %}