{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Update an patient</h2>
<div class="register" style="padding: inherit; margin: inherit;">
<h1>Update</h1>
<form action="" method="post" autocomplete="off">
	<label for="name">
		<i class="fas fa-thermometer-full"></i>
	</label>
	<input type="text" name="name" value="{{ patient.name }}" readonly>
	
	<label for="firstname">
		<i class="fas fa-user"></i>
	</label>
	<input type="text" name="firstname" value="{{ patient.firstname }}" id="firstname" readonly>
	
	<label for="date">
		<i class="fas fa-calendar"></i>
	</label>
	<input type="date" id="date" value="{{ patient.date }}" name="date" readonly="readonly">
	
	<label for="email">
		<i class="fas fa-envelope"></i>
	</label>
	<input type="email" name="email" value="{{ patient.email }}" id="email" required>

	<label for="phone">
		<i class="fas fa-phone-square"></i>
	</label>
	<input type="tel" id="phone" name="phone" value="{{ patient.phone }}" pattern="[0-9]{10}" required>
	
	<label for="address">
		<i class="fas fa-address-card"></i>
	</label>
	<input type="text" name="address" value="{{ patient.address }}" id="address" required>

	<label for="city">
		<i class="fas fa-address-card"></i>
	</label>
	<input type="text" name="city" value="{{ patient.city }}" id="city" required>

	<label for="postal">
		<i class="fas fa-user"></i>
	</label>
	<input type="text" name="postal" value="{{ patient.postal }}" pattern="[0-9]{5}" id="postal" required>

	<label for="blood">
		<i class="fas fa-user"></i>
	</label>
	<input type="text" name="postal" value="{{ patient.blood }}" pattern="[0-9]{5}" id="postal" readonly>

	<div class="msg">{{ msg }}</div>
	<input type="submit" value="Save">
	<!-- /** INSERT INTO `patient` (`username`, `file`, `firstname`, `description`, `drug`, `date`) **/ -->
</form>
</div>
{% endblock %}