{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Update an patient</h2>
<div class="register" style="padding: inherit; margin: inherit;">
<h1>Update</h1>

<form action="" method="post" autocomplete="off">
	<label for="file">
		<i class="fas fa-archive"></i>
	</label>
	<input type="number" name="file" value="{{ patient.file }}" id="file" required>
	<label for="name">
		<i class="fas fa-thermometer-full"></i>
	</label>
	<input type="text" name="name" value="{{ patient.name }}" required>
	<label for="firstname">
		<i class="fas fa-user"></i>
	</label>
	<input type="text" name="firstname" value="{{ patient.firstname }}" id="firstname" required>
	<label for="description">
		<i class="fas fa-comment"></i>
	</label>
	<textarea type="text" id="description" name="description" rows="5" cols="39">{{ patient.description }}</textarea>
	<label for="drug" style="margin-top: 20px;">
		<i class="fas fa-archive"></i>
	</label>
	<input type="drug" name="drug" value="{{ patient.drug }}" id="drug" style="margin-top: 20px;" required>
	<label for="date">
		<i class="fas fa-calendar"></i>
	</label>
	<input type="date" id="date" value="{{ patient.date }}" name="date" required>
	<div class="msg">{{ msg }}</div>
	<input type="submit" value="Save">
	<!-- /** INSERT INTO `patient` (`username`, `file`, `firstname`, `description`, `drug`, `date`) **/ -->
</form>
</div>
{% endblock %}